/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

@include mat.core();

$my-palette: (
    50: #faf6fe,
    100: #f2eafd,
    200: #e9dcfc,
    300: #e0cdfa,
    400: #d9c3f9,
    500: #d2b8f8,
    600: #cdb1f7,
    700: #c7a8f6,
    800: #c1a0f5,
    900: #b691f3,
    A100: #ffffeb,
    A200: #def8b8,
    A400: #acc588,
    A700: 'ffffff',
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: rgba(black, 0.87),
   700: rgba(black, 0.87),
   800: rgba(black, 0.87),
   900: rgba(black, 0.87),
   A100: rgba(black, 0.87),
   A200: rgba(black, 0.87),
   A400: rgba(black, 0.87),
   A700: rgba(black, 0.87)
 )
);

$my-primary: mat.define-palette($my-palette, 500);
$my-accent: mat.define-palette($my-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.all-component-themes($my-theme);
